<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
    <suite name="Rogii" parallel="methods" thread-count="2">
    <test name="RogiiTests">
        <classes>
            <class name="com.tests.users.ListUsersTest" />
            <class name="com.tests.users.SingleUserTest" />
            <class name="com.tests.register.RegisterTest" />
            <class name="com.tests.resources.ListResourceTest" />
            <class name="com.tests.resources.SingleResourceTest" />
        </classes>
    </test>
</suite>
